<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <div class="card-header">
    <h1>Create your diary</h1>
  </div>
  <div class="card-content">
    <div
      class="form-control"
      [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    >
      <label for="email">Email:</label>
      <input id="email" type="email" formControlName="email"/>
      <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation"
      >
        <small *ngIf="form.get('email').errors.required">
          Enter email please
        </small>
        <small *ngIf="form.get('email').errors.email">
          Not valid email
        </small>
      </div>
    </div>

    <div formGroupName="password">
      <div
        class="form-control"
        [ngClass]="{invalid: form.get('password').get('password').touched && form.get('password').get('password').invalid}"
      >
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password"/>
        <div
          *ngIf="form.get('password').get('password').touched && form.get('password').get('password').invalid"
          class="validation"
        >
          <small *ngIf="form.get('password').get('password').errors.required">
            Enter password please
          </small>
          <small *ngIf="form.get('password').get('password').errors.minlength">
            Should be
            {{form.get('password').get('password').errors.minlength.requiredLength}}
            characters. Now
            {{form.get('password').get('password').errors.minlength.actualLength}}.
          </small>
        </div>
      </div>

      <div
        class="form-control"
        [ngClass]="{invalid: form.get('password').get('confirmPassword').touched && form.get('password').get('confirmPassword').invalid}"
      >
        <label for="confirmPassword">Confirm Password:</label>
        <input id="confirmPassword" type="password" formControlName="confirmPassword"/>
        <div
          *ngIf="form.get('password').get('confirmPassword').touched && form.get('password').get('confirmPassword').invalid"
          class="validation"
        >
          <small *ngIf="form.get('password').get('confirmPassword').errors.required">
            Enter confirm password please
          </small>
          <small *ngIf="form.get('password').get('confirmPassword').errors.passwordMismatch">
            Passwords doesn't match
          </small>
        </div>
      </div>
    </div>

  </div>


  <div class="card-footer">
    <button
      class="btn btn-dark"
      type="submit"
      [disabled]="!form.valid || submited">
        Submit
    </button>
  </div>
</form>
